<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../public/css/carts.css">
  <title>Carritos</title>
</head>
<section>
  <h1 >Carritos</h1>
  <div >
    {{#each carts}}
      <article>
        <div>
          <div >Id del carrito: {{this._id}}</div>
          {{#each carts.products}}
            <div >Id del producto: {{this.id._id}}</div>
            <div >Cantidad: {{this.quantity}}</div>
          {{/each}}
        </div>
      </article>
        
    {{/each}}
  </div>
  <a href="/" class="btn btn-primary">Volver a inicio</a>
</section>
<body>
  
</body>
</html>