<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../public/css/home.css">
  <title>Home</title>
</head>
<body>

  <section class="main_page">
  <h1 class="home_title">Página principal</h1>
  <div class="home_navbar">
    <a href="http://localhost:8080/realtimeproducts/" target="_blank"><button>Administrar productos</button></a>
    <a href="http://localhost:8080/products/" target="_blank"><button>Productos</button></a>
    <a href="http://localhost:8080/carts/" target="_blank"><button>Carritos de compra</button></a>
   
  </div>
</section>
  
</body>
</html>