<section class="main_page">
  <h1 class="home_title">Página principal</h1>
  <div class="home_navbar">
    <a href="http://localhost:8080/realtimeproducts/" target="_blank"><button>Administrar productos</button></a>
     <a href="http://localhost:8080/users" target="_blank"><button>Usuarios</button></a>
    <a href="http://localhost:8080/products/" target="_blank"><button>Productos</button></a>
    <a href="http://localhost:8080/carts/" target="_blank"><button>Cararritos</button></a>
   
  </div>
</section>