<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../public/css/realTimeProducts.css">
  <title>Panel de administracion</title>
</head>
<body>
  <div class="contenedor">
  <h1 class="titulo titulo-principal">Panel de Administración</h1>
    <form action="/realtimeproducts" method="POST" enctype="multipart/form-data" class="ingresoProductos" id="form">
      <div class="ingresoProductos__contenedor">
  
        <div class="contenedor__texto">
       
          <input type="text" name="category" id="category" placeholder="Category" required />
          <input type="text" name="name" id="name" placeholder="Name" required />
          <input type="text" name="file" id="file" class="file" placeholder="Image" required />
          <input type="number" name="price" id="price" step="10" placeholder="Price" required />
          <input type="number" name="stock" id="stock" step="1" placeholder="Stock" required />
          <input type="text" name="description" id="description" placeholder="Description" required />
        </div>
      </div>
      <div class="contenedor__button">
        <input type="reset" value="Limpiar" class="button limpiar" />
        <input type="submit" value="Guardar" class="button guardar" />
      </div>
    </form>
  <table class="contenedor__table">
    <thead class="table__categories">
      <tr class="categories__list">
        <th class="category">Categoria:</th>
        <th class="title">Nombre:</th>
        <th class="thumbnail">Thumbnail:</th>
        <th class="price">Price:</th>
        <th class="stock">Stock:</th>
         <th class="edit" id="edit">Edit:</th>
        <th class="delete" id="delete">Delete:</th>
      </tr>
    </thead>
    <tbody class="table__categories" id="tbody">
   
    </tbody>
  </table>
    <a href="/" class="btn btn-primary">Volver a inicio</a>
</div> 
<script src="/socket.io/socket.io.js"></script>
<script src="http://localhost:8080/public/index.js"></script>
</body>
</html>