/* HOME*/

.main_page {
  display: flex;
  align-items: center;
  justify-content: center;
}

.home_title {
  color: blue;
}

.home_navbar {
  display: flex;
  a {
    width: 100%;
    margin: 2px;
  }
  button {
    width: 90px;
    height: 40px;
    border-radius: 10px;
    box-shadow: 2px 2px 2px black;
  }
}

/* LISTADO DE PRODUCTOS*/

.product.list{
    display: flex;
    align-items: center;
    justify-content: center;
}